body {
    background-color: rgb(49, 50, 51);
    text-align: center;
}

.btn {
    cursor: pointer;
}

h1 {
    color: rgb(255, 255, 255) ;
    transition: color 0.5s ease-in-out;
    text-align: top;
}

.clicked {
    color: rgb(215, 255, 177);
}

.form,
.greeting {
    display: none;
    color: rgb(255, 255, 255);
}

.showing {
    display: block;
    color: snow;
}

.js-toDoList{
    color: beige;
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

/* 페이지 로딩 중에 나타낼 수 있는 효과 */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

span{
    color: snow;
}
.js-clock{
    font-size: 50px;
}
.js-greeting{
    font-size: 50px;
}
.js-toDoList{
    font-size: 20px;
}
.js-weather{
    font-size: 30px;
}